#####################
## Avr Studio
#####################

dep/
Makefile
*.o
*.elf
*.lss
*.map
*.eep


#####################
## Altium Designer
#####################

__Previews/
History/
Project Logs for Atmega16-platform/
*.PrjPCBStructure