#####################
## Avr Studio
#####################

dep/
Makefile
*.o
*.elf
*.lss
*.map
*.eep


#####################
## Altium Designer
#####################

__Previews/
History/
*.PrjPCBStructure